<%= @chosen_show.title %>

<ul>
<% @chosen_show.songs.each do |song| %>
  <li>
    <a href="/shows/<%= song.show %>/songs/<%= song.id %>"><%= song.title %></a>
  </li>
<% end %>
</ul>
<p>Create a <a href="/shows/<%= @chosen_show.id %>/songs/new">new song here</a>.</p>