<h1><em><%= @chosen_show.title %></em></h1>

<img src="<%= @chosen_show.img_url %>"

<ul>
  <li>Composer: <%= @chosen_show.composer %></li>
  <li>Broadway debut: <%= @chosen_show.year %></li>
</ul>

<p>View all <a href="/shows/<%= @chosen_show.id %>/songs"><em><%= @chosen_show.title %></em> songs</a></p>
