  <h1><em><%= @chosen_show.title %></em> songs</h1>

<ul>
<% @songs.each do |song| %>
  <li>
    <a href="/shows/<%= @chosen_show.id %>/songs/<%= song.id %>">
      <%= song.title %>
    </a>
  </li>
<% end %>
</ul>
<ul>
  <li>Something missing? <a href="/shows/<%= @chosen_show.id %>/songs/new">Add a song for <em><%= @chosen_show.title %></em></a>!</li>
</ul

<p>Back to the <a href="/shows">list of shows</a></p>